**.o
**~
.deps
Makefile
Makefile.in
README
VERSION
aclocal.m4
autom4te.cache
compile
config.h
config.log
config.status
configure
depcomp
install-sh
missing
parser.c
parser.h
roll
roll-**.tar.gz
roll.1
roll.spec
rpmroot/
scanner.c
stamp-h1
tap-driver.sh
test-driver
ylwrap
parser.output
.DS_Store
