name: Test

on:
  push:
    branches:
      - $default-branch
      - development
      - master
  # Run tests for any PRs
  pull_request:
  workflow_dispatch:

jobs:
  macos:
    name: Running tests on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-10.15
    runs-on: ${{ matrix.os }}
    steps:

      - name: Install dependencies
        run: |
          brew install autoconf automake libtool pandoc

      - name: Git clone repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Run the tests
        run:  |
          uname -a &&
          ./regen.sh &&
          ./configure &&
          make dist &&
          make check

  linux:
    # The host should always be linux
    runs-on: ubuntu-latest
    name: Running tests on ${{ matrix.distro }}
    strategy:
      fail-fast: false
      matrix:
        distro:
          - 'debian:9'
          - 'debian:10'
          - 'debian:testing'
          - 'ubuntu:16.04'
          - 'ubuntu:18.04'
          - 'ubuntu:20.04'
          - 'ubuntu:20.10'
          - 'alpine:3.13'
          - 'alpine:edge'
          - 'centos:7'
          - 'centos:8'
          - 'fedora:32'
          - 'fedora:33'
          - 'fedora:34'
        include:


        
          - distro: 'debian:testing'
            pre: >-
              apt-get update &&
              DEBIAN_FRONTEND=noninteractive apt-get -y install autoconf automake gcc make bison pandoc flex
          - distro: 'debian:10'
            pre: >-
              apt-get update &&
              DEBIAN_FRONTEND=noninteractive apt-get -y install autoconf automake gcc make bison pandoc flex
          - distro: 'debian:9'
            pre: >-
              apt-get update &&
              DEBIAN_FRONTEND=noninteractive apt-get -y install autoconf automake gcc make bison pandoc flex



          - distro: 'ubuntu:20.10'
            pre: >-
              apt-get update &&
              DEBIAN_FRONTEND=noninteractive apt-get -y install autoconf automake gcc make bison pandoc flex
          - distro: 'ubuntu:16.04'
            pre: >-
              apt-get update &&
              DEBIAN_FRONTEND=noninteractive apt-get -y install autoconf automake gcc make bison pandoc flex
          - distro: 'ubuntu:18.04'
            pre: >-
              apt-get update &&
              DEBIAN_FRONTEND=noninteractive apt-get -y install autoconf automake gcc make bison pandoc flex
          - distro: 'ubuntu:20.04'
            pre: >-
              apt-get update &&
              DEBIAN_FRONTEND=noninteractive apt-get -y install autoconf automake gcc make bison pandoc flex



          - distro: 'alpine:edge'
            pre: >-
              apk update &&
              apk upgrade &&
              apk add -U bash &&
              apk add autoconf automake gcc binutils build-base bison flex
          - distro: 'alpine:3.13'
            pre: >-
              apk update &&
              apk upgrade &&
              apk add -U bash &&
              apk add autoconf automake gcc binutils build-base bison flex


          - distro: 'fedora:34'
            pre: >-
              dnf upgrade -y &&
              dnf install -y hostname &&
              dnf install -y autoconf automake gcc bison make flex pandoc
          - distro: 'fedora:33'
            pre: >-
              dnf upgrade -y &&
              dnf install -y hostname &&
              dnf install -y autoconf automake gcc bison make flex pandoc
          - distro: 'fedora:32'
            pre: >-
              dnf upgrade -y &&
              dnf install -y hostname &&
              dnf install -y autoconf automake gcc bison make flex pandoc



          - distro: 'centos:7'
            pre: >-
              yum -y install epel-release &&
              yum upgrade -y &&
              yum install -y --enablerepo=epel autoconf automake gcc bison make flex pandoc
          - distro: 'centos:8'
            pre: >-
              dnf -y install epel-release dnf-plugins-core &&
              dnf config-manager --set-enabled powertools &&
              dnf upgrade -y &&
              dnf install -y --enablerepo=epel autoconf automake gcc bison make flex pandoc



    steps:
      - name: Git clone repository
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Run the tests on ${{ matrix.distro }}
        env:
          PRE: ${{ matrix.pre }}
        run: |
          echo $PRE > ./prep-cmd.sh
          docker run --network host -w /roll -v ${PWD}:/roll ${{ matrix.distro }} \
              /bin/sh -c 'sh ./prep-cmd.sh \
              && uname -a \
              && ./regen.sh \
              && ./configure \
              && make dist \
              && make check'

  rpm:
    # The host should always be linux
    runs-on: ubuntu-latest
    name: Running RPM tests on ${{ matrix.distro }}
    strategy:
      fail-fast: false
      matrix:
        distro:
          - 'centos:7'
          - 'centos:8'
          - 'fedora:32'
          - 'fedora:33'
          - 'fedora:34'
        include:
          - distro: 'fedora:34'
            pre: >-
              dnf install -y autoconf automake rpm-build make gcc bison flex pandoc
          - distro: 'fedora:33'
            pre: >-
              dnf install -y autoconf automake rpm-build make gcc bison flex pandoc
          - distro: 'fedora:32'
            pre: >-
              dnf install -y autoconf automake rpm-build make gcc bison flex pandoc
          - distro: 'centos:7'
            pre: >-
              yum -y install epel-release &&
              yum install -y --enablerepo=epel autoconf automake rpm-build make gcc bison flex pandoc
          - distro: 'centos:8'
            pre: >-
              dnf -y install epel-release dnf-plugins-core &&
              dnf config-manager --set-enabled powertools &&
              dnf install -y --enablerepo=epel autoconf automake rpm-build make gcc bison flex pandoc
    steps:
      - name: Git clone repository
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build the RPM on ${{ matrix.distro }}
        env:
          PRE: ${{ matrix.pre }}
        run: |
          echo $PRE > ./prep-cmd.sh
          docker run --network host -w /roll -v ${PWD}:/roll ${{ matrix.distro }} \
              /bin/sh -c 'sh ./prep-cmd.sh \
              && uname -a \
              && ./regen.sh \
              && ./configure \
              && make rpm'
